@import "~bootstrap/dist/css/bootstrap.css";


.body{
    background-image: url(/src/assets/images/comicbg.png);
    background-size: cover;
}
.bg-body{
    background-image: url() 
}
.cart-item {
    font-size: small;
}

 .btn{
    border-radius: 0;
}

.filters{
    font-size: small;
}

.card { 
    border: 2px solid black;
}


.list-group-item:first-child{
    border-top-left-radius: .0rem;
    border-top-right-radius: .0rem;

}

.list-group-item:last-child{
    border-bottom-left-radius: .0rem;
    border-bottom-right-radius: .0rem;
}

body {
    font-family: 'Bangers';
    min-height: 75rem;
    padding-top: 4.5rem;
  }
  
  h1,h2,h3,h4,h5,h6 {
      font-family: 'Bangers';
  }
  p {
      font-size: 18px;
      font-family: 'Montserrat';
  }

  btn btn-primary{
      color: coral;
  }

  .comic-btn{
      font-size: small;
  }
