
    <div class="row">
        <div class="col">
            <div class="card mb-4 shadow-sm" style="max-width: 20rem;">
            <img class="bd-placeholder-img card-img-top" width="100%" src="https://upload.wikimedia.org/wikipedia/en/thumb/d/df/The_Vision_and_the_Scarlet_Witch.jpg/250px-The_Vision_and_the_Scarlet_Witch.jpg">
        
                
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-primary">Add to Cart</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">View Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        