
   
            <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top p-2" width="400px" [src]="productItem.imageUrl">
            <strong >{{ productItem.price| currency: 'GBP'}}</strong>
        
                
                <div class="card-body">
                    <div>
                        <p class="card-text">{{ productItem.description}}</p>
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-primary comic-btn">Add to Cart</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary comic-btn">View Details</button>
                        </div>

                    </div>
                </div>

        